*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.cascadia-mono {
  font-family: "Cascadia Mono", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

#container {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#parkHaruIkonikSoz {
    z-index: 1; 
    max-width: 800px;
    padding: 15px;
    font: 16px 'Cascadia Mono', monospace;
    font-size: 28px;
    margin-bottom: 20px;
    color: #012171;
}

#parkHaruButonlar {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    margin-top: 30px;
    max-width: 900px;
}

#parkHaruButonlar button {
    background: transparent;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 10px 20px;
    display: inline-block;
    transition: 0.3s;
    font: 16px 'Cascadia Mono', monospace;
}

#parkHaruButonlar button:hover {
    background: white;
    color: rgb(122, 190, 209);
}

#karakterSecimButonu a{
    background: transparent;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    margin-top: 8px;
    padding: 10px 20px;
    display: inline-block;
    transition: 0.3s;
    font: 16px 'Cascadia Mono', monospace;
    cursor: pointer;
}

#karakterSecimButonu a:hover {
    background: white;
    color: rgb(122, 190, 209);
}
